[tool.bumpversion]
current_version = "3.0.1"
commit = true
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)"
serialize = ["{major}.{minor}.{patch}"]
search = "{current_version}"
replace = "{new_version}"
tag_name = "v{new_version}"
tag_message = "Bump version: {current_version} → {new_version}"
allow_dirty = false
commit_message = "Bump version: {current_version} → {new_version}"

[[tool.bumpversion.files]]
filename = "pythermalcomfort/__init__.py"

[[tool.bumpversion.files]]
filename = "setup.py"

[[tool.bumpversion.files]]
filename = "docs/conf.py"
