[tool.bumpversion]
current_version = "3.4.3"
commit = true
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)"
serialize = ["{major}.{minor}.{patch}"]
search = "{current_version}"
replace = "{new_version}"
tag_name = "v{new_version}"
tag_message = "Bump version: {current_version} → {new_version}"
allow_dirty = false
commit_message = "Bump version: {current_version} → {new_version}"

[[tool.bumpversion.files]]
path = "setup.py"
search = 'version="{current_version}"'
replace = 'version="{new_version}"'

[[tool.bumpversion.files]]
path = "pythermalcomfort/__init__.py"
search = '__version__ = "{current_version}"'
replace = '__version__ = "{new_version}"'
