graft docs
graft pythermalcomfort
graft ci
graft tests

include .bumpversion.toml
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml .appveyor.yml

include *.yml
recursive-include examples *.py

global-exclude *.py[cod] __pycache__/* *.so *.dylib
